@import "tailwindcss";

html, body {
  height: 100%;
  margin: 0;
  background-color: #0b0b0b; /* same as your app background */
  color: white; /* optional default text color */
}
@keyframes scrollDown {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(300%);
    opacity: 0;
  }
}

.animate-scrollDown {
  animation: scrollDown 1.5s infinite;
}

